<section class="bg-gradient-to-br from-gray-50 to-gray-200 py-20 min-h-[90vh] flex items-center">
  <div class="container mx-auto flex flex-col lg:flex-row items-center gap-12">
    <div class="flex-1 text-center lg:text-left animate-fade-in">
      <h1 class="text-[2.5rem] md:text-5xl lg:text-6xl font-bold text-gray-900 leading-tight mb-6 px-6 md:px-0">
        Impulsa el aprendizaje en el aula a través <br> de la competición
      </h1>
      <p class="text-base md:text-lg text-gray-600 mb-4 md:mb-8 max-w-xl mx-auto lg:mx-0 px-5 md:px-0">
        Game Of Wits (GOW) impulsa el aprendizaje de los alumnos a través de la competición, la estrategia, el trabajo
        en equipo y el ingenio.
      </p>
      <div class="flex justify-center lg:justify-start">
        <a pButton routerLink="/auth/login" label="Iniciar sesión" variant="outlined"
          class="border border-primary text-primary-contrast! bg-primary! px-5 py-3 rounded-lg">
          <i-lucide [img]="SignInIcon"></i-lucide>
        </a>
      </div>
    </div>

    <div class="flex-1 relative min-h-[400px] animate-slide-up w-full">
      <div class="absolute top-0 right-0 w-4/5 h-[300px] bg-gray-800 rounded-2xl overflow-hidden shadow-xl">
        <div
          class="w-full h-full bg-gradient-to-br from-blue-600 to-orange-400 bg-opacity-80 text-white flex items-center justify-center font-bold text-lg">
          Desktop Screenshot
        </div>
      </div>
      <div class="absolute bottom-0 left-0 w-[200px] h-[320px] bg-gray-800 rounded-2xl overflow-hidden shadow-xl z-10">
        <div
          class="w-full h-full bg-gradient-to-br from-blue-600 to-orange-400 bg-opacity-80 text-white flex items-center justify-center font-bold text-base">
          Mobile App
        </div>
      </div>
    </div>
  </div>
</section>
