@if (levelId() != null) {
  <p-dialog
    [modal]="true"
    [visible]="showDialog()"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
    [style]="{
      'max-width': '700px',
      width: '100%',
      'max-height': '60vh',
      height: '100%',
    }"
  >
    <ng-template #header>
      <div class="flex justify-between items-center w-full">
        <span class="font-bold text-xl">Añadir habilidad a nivel</span>

        <div class="flex gap-2 items-center">
          <p-button
            [disabled]="selectedAbilityControl.invalid"
            (click)="onSelectAbilityToLevel()"
            [loading]="isAddAbilityToLevelLoading()"
            label="Añadir"
            severity="info"
          />

          <button
            class="size-[40px] flex items-center justify-center rounded-full bg-transparent hover:bg-gray-50 cursor-pointer group disabled:cursor-not-allowed"
            type="button"
            (click)="onCloseDialog()"
            [disabled]="isAddAbilityToLevelLoading()"
          >
            <i-lucide [img]="closeIcon" class="size-[20px] text-gray-700 group-disabled:text-gray-300" />
          </button>
        </div>
      </div>
    </ng-template>

    @if (!isAbilitiesLoading()) {
      <div class="flex flex-col gap-4 h-full">
        <div class="h-full flex flex-col scroll-auto">
          @for (ability of abilities(); track ability.id) {
            <label
              class="flex items-center justify-between py-3 px-3 rounded-lg cursor-pointer border-4 transition-[border-color] hover:bg-info-50"
              [class.border-info-500]="selectedAbilityControl.value === ability.id"
              [class.border-transparent]="selectedAbilityControl.value !== ability.id"
              [class.bg-info-50]="selectedAbilityControl.value === ability.id"
            >
              <div class="flex items-center gap-1.5">
                <i-lucide
                  [img]="abilityIcon"
                  class="text-info-500 fill-info-500 size-7"
                />

                <span
                  class="text-lg line-clamp-1 overflow-ellipsis"
                  [title]="ability.name"
                >
                  {{ ability.name }}
                </span>
              </div>

              <span class="text-info-600 text-lg font-bold">{{ abilityTypeFormats[ability.type] }}</span>

              <input
                type="radio"
                [value]="ability.id"
                [formControl]="selectedAbilityControl"
                class="hidden"
              />
            </label>
          } @empty {
            <div
              class="w-full h-full flex justify-center items-center rounded-2xl border-2 border-gray-300 border-dashed"
            >
              <span class="text-gray-500">No se encontro habilidades disponibles</span>
            </div>
          }
        </div>
      </div>
    } @else {
      <div class="h-full w-full flex flex-col justify-center items-center">
        <p-progress-spinner
          ariaLabel="loading"
          strokeWidth="4"
          [style]="{ width: '42px', height: '42px' }"
        ></p-progress-spinner>
        <span class="text-lg text-gray-300">Cargando abilidades...</span>
      </div>
    }
  </p-dialog>
}
