<section class="w-full">
  <h3 class="text-primary-500 text-[1.3rem] mb-[10px] font-bold">Aulas</h3>

  @if (!allClassroomsLoading()) {
    @if (allClassrooms(); as classrooms) {
      <gow-classroom-cards [classrooms]="classrooms" />
    }
  } @else {
    <div class="flex items-center justify-center h-24">
      <p-progress-spinner
        ariaLabel="loading"
        strokeWidth="5"
        [style]="{ width: '60px', height: '60px' }"
      ></p-progress-spinner>
    </div>
  }
</section>

<p-toast position="top-right" />
