@if (!isLevelsLoading()) {
  <div class="w-full max-w-4xl mx-auto p-4 flex flex-col gap-1">
    @for (level of levels(); track level.id; let position = $index) {
      <gow-level-item-dropdown
        [level]="level"
        [loadLevelAbilitiesMap]="loadLevelAbilitiesMap()"
        (uploadLoadLevelAbilities)="onUpdateLoadLevelAbilities($event)"
        [disable]="deletingLevelLoading()"
        (delete)="onDeleteLevel($event)"
        (edit)="onOpenEditLevelDialog($event)"
      />

      @if (!hasActiveAcademicPeriod()) {
        @if (isValidCreateLevelBetweenLevels(
          level.requiredPoints,
          levels().at(position + 1)?.requiredPoints ?? null
        )) {
          <div
            class="content-[''] h-1.5 bg-info-100 w-full hover:bg-info-500 hover:outline-2 transition-all cursor-pointer outline-info-400 overflow-visible relative group"
            [class.bg-gray-300]="deletingLevelLoading()"
            [class.cursor-not-allowed]="deletingLevelLoading()"
            (click)="onOpenCreateLevelDialog(position + 1)"
          >
            <button
              class="bg-info-500 size-5.5 text-white items-center justify-center rounded-full cursor-pointer hidden group-hover:flex absolute -right-2 -top-2"
              [disabled]="deletingLevelLoading()"
            >
              <i-lucide [img]="addIcon" class="size-4" />
            </button>
          </div>
        }
      }
    }
  </div>

  <gow-level-form-dialog
    buttonText="Crear"
    headerTitle="Crear nivel"
    [show]="showCreateLevelFormDialog()"
    [id]="levelSelected().id"
    [minRequiredPoints]="levelSelected().minPoints"
    [maxRequiredPoints]="levelSelected().maxPoints"
    (close)="onCloseLevelFormDialog()"
    (submit)="onCreateLevel($event)"
  />

  <gow-level-form-dialog
    buttonText="Editar"
    headerTitle="Editar nivel"
    [show]="showEditLevelFormDialog()"
    [id]="levelSelected().id"
    [levelForm]="levelSelected().form"
    [minRequiredPoints]="levelSelected().minPoints"
    [maxRequiredPoints]="levelSelected().maxPoints"
    (close)="onCloseLevelFormDialog()"
    (submit)="onEditLevel($event)"
  />

  <p-confirm-dialog [draggable]="false" [closable]="false" />
} @else {
  <gow-classroom-admin-panel-loading />
}
