<label class="flex flex-col gap-1 relative">
  @if (inputLabel().trim()) {
    <span>
      {{ inputLabel() }}
    </span>
  }

  <input
    pInputText
    [type]="inputType() === 'password' ? passwordVisible ? 'text' : 'password' : inputType()"
    [value]="value()"
    [placeholder]="inputPlaceholder()"
    [disabled]="inputDisabled()"
    (input)="handleInput($event)"
    class="truncate placeholder:truncate placeholder:whitespace-nowrap placeholder:overflow-hidden {{ focusColorMap[focusColor()] }}"
    [class.pr-4]="inputType() === 'password'"
  />

  @if (inputType() === 'password') {
    <button type="button" pButton (click)="showPasswordToggle()" class="bottom-0 right-0 absolute bg-transparent text-gray-400 border-none">
      @if (passwordVisible) {
        <i-lucide pButtonIcon [img]="passwordIconNotVisible"></i-lucide>
      } @else {
        <i-lucide pButtonIcon [img]="visiblePasswordIcon"></i-lucide>
      }
    </button>
  }
</label>
