<section class="py-40 bg-white">
  <div class="container mx-auto px-4">
    <div class="text-center mb-16">
      <h2 class="text-4xl font-bold text-gray-900 mb-4">¿Cómo funciona?</h2>
      <p class="text-lg text-gray-600 mx-auto">
        Nuestra plataforma utiliza la gamificación para transformar la experiencia en el aula
      </p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      @for (feature of features; track feature.id; let i = $index) {
      <div
        class="group bg-white hover:bg-slate-50 rounded-2xl p-6 shadow-md transition-transform hover:-translate-y-1 hover:shadow-lg">
        <h3 class="text-xl font-semibold text-gray-800 mb-2 flex gap-2 items-center group-hover:text-primary transition-colors"><i-lucide [img]='feature.icon'></i-lucide> {{ feature.title }}</h3>
        <p class="text-gray-600 leading-relaxed">{{ feature.description }}</p>
      </div>
      }
    </div>
  </div>
</section>
