<div class="flex gap-4 p-2.5">
  <div
    class="size-[45px] rounded-lg content-[''] bg-white shadow-md"
    style="background-color: {{ level().primaryColor }};"
  ></div>

  <div class="flex flex-col gap-0.5 flex-1">
    <div class="flex justify-between">
      <div class="flex items-center gap-2.5">
        <span>{{ level().name }}</span>
        <p-tag
          severity="info"
          [value]="
            level().requiredPoints == 0
              ? 'Inicial'
              : level().requiredPoints.toString()
          "
        ></p-tag>
      </div>

      <div class="flex items-center gap-4">
        <div class="flex items-center gap-0.5">
          <p-button
            [text]="true"
            [disabled]="disable()"
            (click)="onEdit(level().id)"
            severity="primary"
            styleClass="aspect-square"
            type="button"
            rounded
            size="small"
          >
            <i-lucide pButtonIcon class="text-primary-500" [img]="editIcon" />
          </p-button>

          @if (level().requiredPoints > 0 && !hasActiveAcademicPeriod()) {
            <p-button
              [text]="true"
              (click)="onDelete($event, level().id)"
              [disabled]="disable()"
              severity="danger"
              styleClass="aspect-square"
              type="button"
              size="small"
              rounded
            >
              <i-lucide
                pButtonIcon
                class="text-danger-500"
                [img]="deleteIcon"
              />
            </p-button>
          }
        </div>

        <button class="cursor-pointer group" (click)="onToggleShowAbilities()" [disabled]="disable()">
          <i-lucide
            class="text-info-500 size-9 group-disabled:text-gray-300"
            [img]="isLevelAbilitiesShowing() ? upIcon : downIcon"
          />
        </button>
      </div>
    </div>

    @if (isLevelAbilitiesShowing()) {
      <gow-level-abilities-list
        [levelId]="level().id"
        [levelAbilitiesMap]="loadLevelAbilitiesMap"
        (updateAbilities)="onSetLevelAbilities($event)"
        (selectLevelToAddAbility)="onOpenAddAbilityToLevelDialog()"
      />
    }
  </div>
</div>

@if (showAddAbilityToLevelDialog()) {
  <gow-add-ability-to-level-dialog
    [levelId]="level().id"
    [levelAbilityIds]="level().abilityIds"
    [show]="showAddAbilityToLevelDialog()"
    (close)="onCloseAddAbilityToLevelDialog()"
    (submit)="onAddAbilityToLoadLevelAbilities($event)"
  />
}
