@if (penaltyForm; as penaltyFormGroup) {
  <ng-template #closeButtonIcon>
    <button
      class="size-[40px] flex items-center justify-center rounded-full bg-transparent hover:bg-gray-50 cursor-pointer group"
      (click)="onCloseDialog()"
      [disabled]="formLoading()"
    >
      <i-lucide [img]="closeIcon" class="size-[20px] text-gray-700 group-disabled:text-gray-700/50" />
    </button>
  </ng-template>

  <p-dialog
    [modal]="true"
    [visible]="showDialog()"
    [draggable]="false"
    [resizable]="false"
    [closeIconTemplate]="closeButtonIcon"
    [formGroup]="penaltyFormGroup"
    [style]="{
      'max-width': '500px',
      width: '100%',
    }"
  >
    <ng-template #header>
      <span class="font-bold text-xl">{{ headerTitle() }}</span>
    </ng-template>

    <div class="flex flex-col gap-3">
      <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-1">
          <gow-text-field
            label="Nombre"
            placeholder="Ingrese el nombre de la penalización"
            focusColor="info"
            formControlName="name"
          />

          @if (nameControl?.invalid && nameControl?.touched) {
            @if (hasErrorValidation(nameControl, "required")) {
              <p class="text-sm text-danger-500">Es requerido</p>
            } @else if (hasErrorValidation(nameControl, "minlength")) {
              <p class="text-sm text-danger-500">
                Mínimo 2 caracteres
              </p>
            } @else if (hasErrorValidation(nameControl, "maxlength")) {
              <p class="text-sm text-danger-500">
                Máximo 50 caracteres
              </p>
            }
          }
        </div>

        <div class="flex flex-col gap-1">
          <gow-number-field
            label="Puntos a reducir"
            placeholder="Ingrese la cantidad de puntos a reducir"
            focusColor="info"
            formControlName="reducePoints"
          />

          @if (reducePointsControl?.invalid && (reducePointsControl?.touched || reducePointsControl?.dirty)) {
            @if (hasErrorValidation(reducePointsControl, "required")) {
              <p class="text-sm text-danger-500">Es requerido</p>
            } @else if (hasErrorValidation(reducePointsControl, "min")) {
              <p class="text-sm text-danger-500">
                Mínimo un punto a reducir por penalización
              </p>
            }
          }
        </div>
      </div>

      <p-button
        type="button"
        (click)="onSubmitPenaltyForm()"
        [disabled]="penaltyFormGroup.invalid"
        [loading]="formLoading()"
        severity="info"
        size="large"
        styleClass="w-full rounded-lg"
      >
        {{ buttonText() }}
      </p-button>
    </div>
  </p-dialog>
}
