<article
  class="flex flex-col gap-2.5 shadow-md rounded-xl bg-white px-[20px] py-[16px] max-w-[400px] w-full"
>
  <span class="text-sm text-gray-500">{{
    studentAbilityUsage().usageAt| date: "shortTime"
  }}</span>

  <div class="flex items-start gap-2.5">
    <i-lucide [img]="abilityIcon" class="size-[30px] fill-black" />
    <p class="text-xl md:text-2xl font-bold" [title]="studentAbilityUsage().abilityName">
      {{ studentAbilityUsage().abilityName }}
    </p>
  </div>

  <div class="flex items-center gap-2.5">
    <div
      class="flex aspect-square items-center justify-center size-[36px] {{
        colorSchemeMap[colorScheme()].background
      }} rounded-full"
    >
      <i-lucide
        [img]="defaultAvatar"
        class="size-[20px] {{ colorSchemeMap[colorScheme()].text }}"
      />
    </div>

    <div class="flex flex-col w-full">
      <span class="text-nowrap text-ellipsis">
        {{ studentAbilityUsage().studentFullName }}
      </span>

      @if (studentAbilityUsage().characterName; as characterName) {
        <span class="text-gray-600 text-sm">{{ characterName }}</span>
      }
    </div>
  </div>
</article>
