<article
  class="flex flex-col gap-2.5 shadow-md rounded-xl bg-white px-5 py-4 max-w-100 w-full"
>
  <span class="text-sm text-gray-500">
    {{ studentAbilityUsage().usageAt | date:'dd EEE - HH:mm:ss' }}
  </span>

  <div class="flex items-start gap-2.5">
    <i-lucide [img]="abilityIcon" class="size-7.5 fill-black" />
    <p class="text-xl md:text-2xl font-bold" [title]="studentAbilityUsage().abilityName">
      {{ studentAbilityUsage().abilityName }}
    </p>
  </div>

  <div class="flex items-center gap-2.5">
    <div
      class="flex aspect-square items-center justify-center size-9 {{
        colorSchemeMap[colorScheme()].background
      }} rounded-full"
    >
      <i-lucide
        [img]="defaultAvatar"
        class="size-5 {{ colorSchemeMap[colorScheme()].text }}"
      />
    </div>

    <div class="flex flex-col w-full">
      <span class="text-nowrap text-ellipsis">
        {{ studentAbilityUsage().studentFullName }}
      </span>

      @if (studentAbilityUsage().characterName; as characterName) {
        <span class="text-gray-600 text-sm">{{ characterName }}</span>
      }
    </div>
  </div>
</article>
