<div class="py-1.5 flex justify-between items-center">
  <div class="flex items-center gap-1.5">
    <i-lucide [img]="abilityIcon" class="size-9 fill-info-500 text-info-500" />
    <span class="text-[1.1rem] line-clamp-1 text-ellipsis">{{
      ability().name
    }}</span>
  </div>

  <button
    pButton
    [text]="true"
    severity="danger"
    rounded
    title="Remover"
    (click)="onRemove.emit(ability().id)"
  >
    <i-lucide pButtonIcon class="text-danger-500" [img]="deleteIcon" />
  </button>
</div>
