<p-dialog
  header="Iniciar periodo académico"
  [modal]="true"
  [visible]="showDialog()"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
  [style]="{ 'max-width': '500px', width: '100%' }"
>
  <div class="flex flex-col gap-3">
    <div class="flex flex-col gap-1.5">
      <gow-text-field
        id="academic-period-name"
        label="Nombre"
        placeholder="Ingrese el nombre del periodo academico"
        [formControl]="newAcademicPeriodName"
      />

      @if (newAcademicPeriodName.touched && newAcademicPeriodName.invalid) {
        <p class="text-danger-400 text-sm">
          @if (newAcademicPeriodName.hasError('required')) {
            Es requerido
          }
          @if (newAcademicPeriodName.hasError('minlength')) {
            Mínimo 3 caracteres
          }
        </p>
      }
    </div>

    <div class="flex gap-2 justify-end">
      <p-button
        label="Cancelar"
        severity="secondary"
        (click)="onCloseDialog()"
        [outlined]="true"
      />

      <p-button
        label="Iniciar"
        severity="primary"
        (click)="onStartAcademicPeriod()"
        [loading]="isLoading()"
        [disabled]="newAcademicPeriodName.invalid"
      />
    </div>
  </div>
</p-dialog>

<p-toast position="bottom-center" />
