@if (!isStudentInformationLoading()) {
  @if (studentInformation(); as studentInformation) {
    <div class="p-4">
      <div class="max-w-6xl mx-auto space-y-6">
        <gow-page-header
          subtitle="Estudiantes"
          principalTitle="{{ studentInformation.firstName }} {{ studentInformation.lastName }}"
          [defaultBackPath]="defaultBackPath"
        />

        <div class="flex flex-wrap mt-3 gap-6">
          <div class="flex items-center gap-2">
            <div
              class="size-8 bg-primary-100 rounded-full flex items-center justify-center"
            >
              <i-lucide
                pButtonIcon
                [img]="phoneIcon"
                class="text-primary-500 size-[18px]"
              />
            </div>

            <span class="text-gray-700">
              +51 {{ studentInformation.phoneNumber }}
            </span>
          </div>
        </div>

        @if (!isStudentStadisticLoading()) {
          <div class="mb-4 w-[500px]">
            <gow-select-field
              label="Periodo académico"
              placeholder="Selecciona el periodo académico"
              [options]="academicPeriodOptions()"
              [enableClear]="false"
              [formControl]="selectAcademicPeriodControl"
            />
          </div>

          @if (studentPeriodStateSelected(); as studentPeriodState) {
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
              @if (getMasteryRoadState(studentPeriodState.experiences); as masteryRoadState) {
                <gow-mastery-road-card
                  [studentPeriodStateId]="studentPeriodState.id"
                  [state]="masteryRoadState"
                />
              }

              @if (getShadowWarfareState(studentPeriodState.experiences); as shadowWarfareState) {
                <gow-shadow-warfare-card
                  [studentPeriodStateId]="studentPeriodState.id"
                  [state]="shadowWarfareState"
                />
              }
            </div>
          }
        }  @else {
          <div class="w-full h-[450px] border border-dashed border-gray-500 text-gray-500 text-center justify-center items-center flex rounded-xl flex-col">
            <p-progress-spinner
              ariaLabel="loading"
              strokeWidth="5"
              [style]="{ width: '56px', height: '56px' }"
            ></p-progress-spinner>

            <span class="text-gray-400 text-lg w-[250px]">
              Cargando estadisticas generales del estudiante
            </span>
          </div>
        }
      </div>
    </div>
  }
} @else {
  <gow-classroom-admin-panel-loading />
}

<p-toast position="top-right" />
