<p-card styleClass="overflow-hidden h-[250px] hover:cursor-pointer" (click)="onGoHomeworkDetails()">
  <ng-template #header>
    @if (imageUrl(); as imageUrl) {
      <img
        [alt]="homework().name"
        [src]="imageUrl"
        [width]="1192"
        [height]="670"
        class="object-cover w-full h-[175px]"
      />
    } @else {
      <div class="w-full h-[175px]"></div>
    }
  </ng-template>

  <div>
    <span class="text-sm">{{ homeworkCategoryFormats[homework().category] }}</span>
    <p class="font-bold text-lg line-clamp-1 text-ellipsis">{{ homework().name }}</p>
  </div>
</p-card>
