@if (sendPasswordResetSuccessfully) {
  <h1 class="text-primary text-3xl">
    Busca en tu correo electrónico un enlace para restablecer tu contraseña. Si
    no aparece en unos minutos, comprueba tu carpeta de spam.envío correcto del
    restablecimiento de contraseña
  </h1>
} @else {
  <h1 class="text-3xl font-bold text-primary mb-4">
    ¿Olvidaste tu contraseña? Vamos a recuperarla!
  </h1>

  <gow-password-reset-form
    [setPasswordResetSuccessful]="setPasswordResetSuccessful"
  ></gow-password-reset-form>
}

<div class="flex justify-center mt-2.5">
  <a
    routerLink="/auth/sign-in"
    class="text-primary font-bold text-[1.1rem] w-fit hover:underline"
  >
    Retornar al inicio de sesión
  </a>
</div>
