<section class="flex justify-center mt-[120px]">
  <div class="flex flex-col items-center">
    <h1 class="text-center font-bold mb-5">
      <span class="text-6xl mb-1 block">{{
        activeAcademicPeriod()?.name
      }}</span>
      <span class="text-2xl text-gray-500 block">
        Semana {{ weekAndDayDifference()?.week }}· Día
        {{ weekAndDayDifference()?.day }}
      </span>
    </h1>

    <div class="flex flex-col gap-1 items-center">
      <div class="flex items-center mb-2 w-full">
        <div class="flex-1 h-[1.5px] bg-gray-400 w-full"></div>
        <span class="px-2 font-bold text-lg">¿Qué desea realizar?</span>
        <div class="flex-1 h-[1.5px] bg-gray-400 w-full"></div>
      </div>

      <div class="flex items-center gap-3">
        <button
          (click)="onOpenStartShadowWarfareExperience()"
          class="bg-danger-50 rounded-xl relative w-[350px] h-[180px] cursor-pointer outline-4 outline-transparent hover:outline-danger-200 transition-colors disabled:hover:outline-transparent disabled:bg-gray-200 disabled:cursor-not-allowed group"
          [class.outline-danger-200]="
            isStartingShadowWarfareExperienceLoading()
          "
          [disabled]="
            isClassSessionEndingLoading() ||
            isStartingMasteryRoadExperienceLoading()
          "
        >
          <span
            class="text-start font-bold absolute bottom-3 left-4 text-2xl leading-tight"
          >
            <span class="block">Empezar la</span>
            <span class="block text-danger-400 group-disabled:text-gray-400">
              Guerra de Sombras
            </span>
          </span>

          <i-lucide
            [img]="teamIcon"
            class="text-danger-400 fill-danger-400 group-disabled:text-gray-400 group-disabled:fill-gray-400 size-[100px] absolute top-3 right-7"
          />

          <i-lucide
            [img]="sparklesIcon"
            class="text-danger-400 fill-danger-400 group-disabled:text-gray-400 group-disabled:fill-gray-400 size-[35px] absolute top-3.5 right-3.5"
          />
          <i-lucide
            [img]="sparklesIcon"
            class="text-danger-400 fill-danger-400 group-disabled:text-gray-400 group-disabled:fill-gray-400 size-[55px] absolute top-4.5 right-19"
          />
        </button>

        <button
          class="bg-info-50 rounded-xl relative w-[350px] h-[180px] cursor-pointer outline-4 outline-transparent hover:outline-info-200 transition-colors disabled:hover:outline-transparent disabled:bg-gray-200 disabled:cursor-not-allowed group"
          [class.outline-info-200]="isStartingMasteryRoadExperienceLoading()"
          (click)="onStartMasteryRoadExperience()"
          [disabled]="
            isClassSessionEndingLoading() ||
            isStartingShadowWarfareExperienceLoading()
          "
        >
          <span
            class="font-bold absolute top-11 left-1/2 -translate-1/2 text-2xl w-full leading-tight"
          >
            <span class="block">Empezar el</span>
            <span class="block text-info-400 group-disabled:text-gray-400"
              >Camino de la Maestria</span
            >
          </span>

          <i-lucide
            [img]="userIcon"
            class="fill-info-400 text-info-400 group-disabled:text-gray-400 group-disabled:fill-gray-400 w-[100px] absolute -bottom-12 left-1/2 -translate-1/2 size-[100px]"
          />

          <i-lucide
            [img]="fastUpIcon"
            class="text-info-400 group-disabled:text-gray-400 group-disabled:fill-gray-400 size-[35px] absolute bottom-3 left-[calc(50%-25px)] -translate-1/2"
          />
          <i-lucide
            [img]="fastUpIcon"
            class="text-info-400 group-disabled:text-gray-400 group-disabled:fill-gray-400 size-[55px] absolute -bottom-1 left-[calc(50%+25px)] -translate-1/2"
          />
          <i-lucide
            [img]="fastUpIcon"
            class="text-info-400 group-disabled:text-gray-400 group-disabled:fill-gray-400 size-[35px] absolute -bottom-3 left-[calc(50%+30px)] -translate-1/2"
          />
          <i-lucide
            [img]="fastUpIcon"
            class="text-info-400 group-disabled:text-gray-400 group-disabled:fill-gray-400 size-[55px] absolute -bottom-6 left-[calc(50%-30px)] -translate-1/2"
          />
        </button>
      </div>

      <div class="h-[1.5px] bg-gray-400 w-full mt-2"></div>

      <button
        class="flex items-center transition-colors gap-1.5 cursor-pointer group mt-2"
        [disabled]="isClassSessionEndingLoading()"
        (click)="onEndingOfClassSession()"
      >
        <div
          class="group-hover:bg-danger-600 transition-colors size-[40px] relative rounded-full flex items-center justify-center bg-danger-500 text-white"
        >
          @if (!isClassSessionEndingLoading()) {
            <i-lucide
              [img]="stopIcon"
              class="size-5.5 leading-none fill-white"
            />
          } @else {
            <p-progress-spinner
              ariaLabel="loading"
              strokeWidth="4"
              [style]="{
                width: '24px',
                height: '24px',
                position: 'absolute',
                top: '50%',
                left: '50%',
                transform: 'translate(-50%, -50%)',
              }"
            ></p-progress-spinner>
          }
        </div>
        <span
          class="group-hover:text-danger-600 transition-colors text-danger-500 text-xl font-bold"
        >
          Terminar clase
        </span>
      </button>
    </div>
  </div>
</section>

<gow-start-shadow-warfare-experience-form-dialog
  [show]="showStartShadowWarfareExperienceDialog()"
  (close)="onCloseStartShadowWarfareExperience()"
/>

<p-toast position="bottom-center" />
