@if (sidebarStore.isClose()) {
  <aside
    class="w-[400px] overflow-hidden flex flex-col p-4 border-r-2 border-primary-600 h-[calc(100vh-65px)] sticky top-[65px]"
  >
    <gow-portal-sidebar-link href="/p/general">
      <i-lucide icon [img]="generalIcon" class="size-[28px]" /> General
    </gow-portal-sidebar-link>
    <gow-portal-sidebar-paper>
      <i-lucide icon [img]="classroomsIcon" class="size-[28px]" />

      Aulas

      <a
        actions
        pButton
        routerLink="/p/s/{{ defaultSchoolStore.school()?.id }}/classroom/create"
        routerLinkActive="add-classroom-link-active"
        class="cursor-pointer transition-colors hover:bg-primary-500 hover:text-white rounded-md size-7 inline-flex items-center justify-center"
      >
        <i-lucide
          pButtonIcon
          [img]="addClassroomIcon"
          class="size-[24px]"
        />
      </a>

    </gow-portal-sidebar-paper>

    <div class="pl-5.5 flex flex-col">
      @if (!isClassroomsLoading()) {
        @for (classroom of classrooms(); track classroom.id) {
          <gow-classroom-sidebar-link
            [classroomId]="classroom.id"
            [classroomName]="classroom.name"
            [schoolId]="classroom.schoolId"
          />
        } @empty {
          <p-message severity="secondary">
            <ng-template #icon>
                <i-lucide [img]="emptyIcon" class="size-[20px]" />
            </ng-template>
            <span>No tienes aulas</span>
          </p-message>
        }
      } @else {
        <div class="flex justify-center py-2">
          <p-progress-spinner
            ariaLabel="loading"
            strokeWidth="3"
            [style]="{ width: '50px', height: '50px' }"
          ></p-progress-spinner>
        </div>
      }
    </div>
  </aside>
}
