@if (!isHomeworkGroupLoading()) {
  @if (homeworkGroup(); as homeworkGroup) {
    <section class="px-[26px] py-4 flex flex-col gap-4 max-w-[110rem] mx-auto">
      <gow-page-header
        subtitle="Grupo de tareas"
        [principalTitle]="homeworkGroup.name"
        defaultBackPath="defaultBackPath"
      >
        @if (homeworkGroup.deliveredAt; as deliveredAt) {
          <span class="text-xl font-bold">
            <span aria-label="Icono de grupo de tareas entregado">✅</span> Entregado ({{ deliveredAt | date:'dd/MM/yy' }})
          </span>
        } @else {
          <div class="flex items-center gap-4">
            <span class="text-xl font-bold">
              <span aria-label="Icono de grupo de tareas no entregado">❌</span> No entregado
            </span>

            @if (hasActiveAcademicPeriod()) {
              <p-button
                severity="danger"
                styleClass="rounded-xl"
                [disabled]="homeworksSize() < 1"
                (click)="onOpenDeliveryHomeworkGroup()"
              >
                <i-lucide pButtonIcon [img]="sendIcon" />
                <span pButtonLabel>Entregar</span>
              </p-button>
            }
          </div>
        }
      </gow-page-header>

      <gow-homework-card-list
        [homeworkGroupId]="homeworkGroup.id"
        (changeSize)="onChangeHomeworksSize($event)"
      />
    </section>

    @if (homeworkGroup.deliveredAt == null) {
      <gow-delivery-homework-group-form-dialog
        [show]="showDeliveryHomeworkGroup()"
        [homeworkGroupId]="homeworkGroup.id"
        (close)="onCloseDeliveryHomeworkGroup()"
      />
    }
  }
} @else {
  <gow-classroom-admin-panel-loading />
}

<p-toast position="top-right" />
