<section class="px-[26px] pt-[14px] pb-[6px]">
  <button pButton class="mb-2.5 rounded-xl">
    <i-lucide pButtonIcon [img]="addIcon" class="fill-white" />
    <span pButtonLabel>Añadir habilidad</span>
  </button>

  <p-table
    [value]="abilities()"
    [loading]="isAbilitiesLoading()"
    [scrollable]="true"
  >
    <ng-template #header>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Categoria</th>
        <th>Experiencia</th>
        <th>Tipo de uso</th>
        <th>Tipo de acciones</th>
      </tr>
    </ng-template>

    <ng-template #body let-ability>
      <tr>
        <td>{{ ability.name }}</td>
        <td>{{ ability.description }}</td>
        <td>{{ getAbilityTypeFormat(ability.type) }}</td>
        <td>{{ getEducationalExperienceFormat(ability.experience) }}</td>
        <td>{{ getAbilityUsageTypeFormat(ability.usage.type) }}</td>
        <td>

        </td>
        <td class="flex items-center gap-1.5">
          <button pButton severity="danger" [rounded]="true" [disabled]="true">
            <i-lucide pButtonIcon [img]="deleteIcon" />
          </button>

          <button pButton severity="info" [rounded]="true" [disabled]="true">
            <i-lucide pButtonIcon [img]="editIcon" />
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
